/***********/
/* GENERAL */
/***********/

h2, h3 {
    text-align : center;
}
hr {
    margin-top : 20px;
    margin-bottom : 0px;
}

#top-hr {
    margin-top:0;
}

.padded-row {
    margin-bottom : 10px;
}



.dropdown{
    display : inline;
}

/***************/
/* TEXT EDITOR */
/***************/

.CodeMirror {
    font-size : 10px;
}

#textEditorBorder {
    border:solid;
    margin-bottom:10px;
    visibility:hidden;
}

/*********/
/* GRAPH */
/*********/

svg {
    border-style: solid;
    margin-bottom: 10px;

}

circle {
    stroke-width : 2px;
}

.edge {
    stroke-width : 1;
    fill : none;
    stroke : black;
}

.node text {
    font: 10px sans-serif;
}

#graph-drawing {
    margin-top : 10px;
}


/***********/
/* BUTTONS */
/***********/

.btn {
    vertical-align : top;
}

.btn-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 6px 0;
    font-size: 18px;
    line-height: 1.42;
    border-radius: 20px;
}

#addNodeButton {
    margin-left : 20px;
}


/***************/
/* INPUT FORMS */
/***************/

.form-control {
    display: inline;
    text-align: right;
    color: rgba(0, 0, 0, 0.5);
}

.integer-input {
    width: 70px;
}

#noRounds {
    width : 155px;
}

#algorithmStartNode {
    width : 110px;
}

#weight {
    width : 80px;
}

.ja_body form input {
    width : 100%;
}