h2, h3 {
    text-align : center;
}

hr {
    margin-top : 0px;
    margin-bottom : 10px;
}

.form-group {
    margin-top : 20px;
}

.dropdown{
    display : inline;
}

.integer-input {
    width: 70px;
    display: inline;
    text-align: right;
    color: rgba(0, 0, 0, 0.5);
}

#nodeText {
    width : 100px;
    display : inline;
    text-align: right;
    color: rgba(0, 0, 0, 0.5);
}

svg {
    border-style: solid;
    margin-bottom: 10px;

}

circle {
    stroke-width : 2px;
}

.node text {
    font: 10px sans-serif;
}

.edge {
    stroke-width : 2;
    fill : none;
    stroke : black;
}

.padded-row {
    margin-top : 10px;
    margin-bottom : 10px;
}

.btn-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 6px 0;
    font-size: 18px;
    line-height: 1.42;
    border-radius: 20px;
}

#noRounds{
    display : inline;
    width : 130px;
    text-align: right;
    color: rgba(0, 0, 0, 0.5);
}