h2, h3 {
    text-align : center;
}

hr {
    margin-top : 0;
    margin-bottom : 40px;
}

.form-group {
    margin-top : 20px;
}

.dropdown{
    display : inline;
}

.integer-input {
    width : 50px;
    display : inline;
    text-align: right;
}

svg {
    border-style: solid;
    margin-bottom: 10px;

}

circle {
    stroke-width : 2px;
}

.node text {
    font: 10px sans-serif;
}